body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    text-align: center;
}
header#landing-page {
    height: 100vh;
    background: url('img/66ac82c31d9f5490d5ea30f33ed2748d.jpg') no-repeat center center/cover;
    position: relative;
    text-align: center;
}

header#landing-page .overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    color:white;
    font-size: em;
}

